services:
  discord-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: booster-bot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NODE_ENV=production
